@media (max-width: 991px) {
  html {
    font-size: 80%;
  }
}
@media (max-width: 768px) {
  .home {
    padding-top: 200px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background-position: left;
    text-align: center;
  }
  .home .content h3 {
    font-size: 2rem;
  }
  .home .content p {
    font-size: 1rem;
  }
}
